@import "../../../styles/settings.scss";

.AppBar {
  background: $base-color;
  min-height: 50x;
  justify-content: center;
}

.toolbar {
  justify-content: space-between;
}

.login {
  text-decoration: none;
  color: $text-color-light;
  font-family: $text-font;
}

.brand {
  font-family: $header-font;
}

.menuButton {
  margin-right: -7rem;
}
@media (max-width: 768px) {
  .brand {
    font-size: 15px;
  }

  .login {
    display: none;
  }
}
