@import "../../../styles/settings.scss";

.AppBar {
  background: $base-color;
  min-height: 50px;
  justify-content: center;
}

.toolbar {
  justify-content: space-between;
}

.login {
  text-decoration: none;
  color: $text-color-light;
  font-family: $text-font;
  padding-right: 8em;
  white-space: nowrap;

}

.brand {
  font-family: $header-font;
  width: 5em;

}

.menuButton {
  margin-right: -7rem;

}

.link {
  padding-left: 5px;
}

@media (max-width: 768px) {
  .brand {
    font-size: 15px;
    //width: 5em;
  }

  .link {
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    display: block;
    padding: 0px;
    display: none;
  }

  .menuButton {
  }

}

@media (max-width: 576px) {

  .login {
width: 5em;
padding-left: 6em;

  }
}
