@import "../../../styles/settings.scss";

.component {
  border: 1px solid $text-color-dark;
  text-align: center;
  line-height: 1.3;
  padding: 0.8rem 1.3rem;
  position: fixed;
  font-weight: 200;
  font-size: 0.9rem;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);

  &.danger {
    background: lighten($color: $color-danger, $amount: 50%);
    border-color: $color-danger;
    color: $color-danger;
  }
  &.success {
    background: lighten($color: $color-success, $amount: 30%);
    border-color: $color-success;
    color: $color-success;
  }
}
