@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Sora:wght@400&display=swap');

//$base-size: 15px;

$base-color: #856C8B;
$palette-color: #9ca9d3;
$background-color: #F2EAE6;
$text-color-dark: #0B0909;
$text-color-light: #FDF5EF;
$color-success: #36AE7C;
$color-danger: #EB5353;

$logo-font: 'Sora', sans-serif;
$text-font: 'Sora', sans-serif;
$header-font: 'Cinzel Decorative', cursive;

@keyframes viewsFromRight {
    0% {
      margin-left: 150px;
    }
    100% {
      margin-left: 0;
    }
  }
