@import url('https://fonts.googleapis.com/css2?family=Princess+Sofia&family=Sora:wght@400&display=swap');

//$base-size: 15px;

$base-color: #6A67CE;
$palette-color: #B689C0;
$background-color: #FDF5EF;
$text-color-dark: #0B0909;
$text-color-light: #FDF5EF;
$color-success: #36AE7C;
$color-danger: #EB5353;

$logo-font: 'Sora', sans-serif;
$text-font: 'Sora', sans-serif;
$header-font: 'Princess Sofia', cursive;

@keyframes viewsFromRight {
    0% {
      margin-left: 150px;
    }
    100% {
      margin-left: 0;
    }
  }
