@import url('https://fonts.googleapis.com/css2?family=Princess+Sofia&family=Sora:wght@400&display=swap');

$base-size: 15px;

$base-color: #6A67CE;
$text-color-dark: #0B0909;
$text-color-light: #F7EFEF;

$logo-font: 'Princess Sofia', cursive;
$text-font: 'Sora', sans-serif;
$header-font: 'Lilita One', cursive;
