@import "../../../styles/settings.scss";

.root {
  margin-top: 100px;
  h2 {
    font-family: $header-font;
    text-decoration: none;
    font-size: 36px;
  }

  .divider {
    margin: 2rem;
    background-color: $base-color;
    border-radius: 50%;
    height: 3px;
  }

  h3 {
    font-family: $logo-font;
    font-size: 30px;
    font-weight: bold;
    margin-top: 2rem;
    opacity: 0.8;
  }

  .Card {
    display: flex;
    border-radius: 10px;
    margin: 20px;
    transition: 1s all;
    align-content: center;
    justify-content: space-between;
    flex-direction: row;
    width: 80vw;
    height: 50vh;
    &:hover {
      transform: translate(-5px, 5px);
    }

    .Content {
      width: 40%;
      text-align: center;
    }

    h3 {
      font-size: 1.8rem;
      text-decoration: none;
      font-family: $text-font;
    }

    .BoardImg {
      display: flex;
      overflow: hidden;
      object-fit: cover;
      width: 65%;
    }

    .button{
        opacity: 0;
        transition: 1s all;
    }

    p {
      font-size: 1.1rem;
      opacity: 0.6;
      margin: 5px 0;
      text-decoration: none;
      font-family: $text-font;
    }
    .description {
        text-overflow: ellipsis;
        overflow: auto;
        max-height: 48%;
    }
    &:hover .button {
        opacity: 1;
    }
  }

  a,
  a:hover {
    font-weight: 600;
    text-decoration: none;
  }
  @media (max-width: 768px) {
   .Card {
     display: flex;
     flex-direction: column;
     margin: 10px 0;
     justify-content: center;
     width: 85vw;
     height: 80vh;

     .Content {
       width: 100%;
       padding-bottom: 5px;
     }
     .BoardImg {
       width: 100%;
     }

     .description {
         text-overflow: ellipsis;
         overflow: auto;
         max-height: 48%;
         font-size: 14px;
     }
   }
   h2 {
     font-size: 40px;
   }
   .divider {
     margin: 1.0rem;
     background-color: $base-color;
     border-radius: 50%;
     margin-bottom: 30px;
     height: 2px;
   }
 }
}
