@import "../../../styles/settings.scss";

h2 {
  text-align: center;
}

.root {
  .Box {
    display: flex;
    justify-content: flex-end;
    background-color: black;
    //border-radius: 3%;

    &:hover .imageButton{
        opacity: 0.5;
        transition: all 0.4s ease-in-out;
        -moz-filter: blur(2px);
        -webkit-filter: blur(2px);
        filter: blur(2px);
        //transition: all 1s ease-in;
    }

    &:hover .textButton {
        border: 2px solid $text-color-light;
        transition: all 0.4s ease-in-out;
    }
  }

  .firstLink {
    width: 100%;

  }

  .imageButton {
    height: 350px;
    width: 100%;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
  }

  .textButton {
    padding: 1rem;
    position: absolute;
    text-decoration: none;
    color: $text-color-light;
    font-family: $logo-font;
    font-size: 50px;
    margin-top: 190px;
    margin-right: 1rem;
    border: 2px solid transparent;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: transparentize($color: $text-color-dark, $amount: 0.7);
    }
  }

  .link {
    width: 49%;
    margin: 1.5rem 0;
  }

  .loadingText {
    text-align: center;
    color: red;
  }


  @media (max-width: 1024px) {
    .link {
    width: 100%;
    }
  }
  @media (max-width: 768px) {
    .textButton {
    font-size: 30px;
    }
  }
}
