@import "../../../styles/settings.scss";

.root {
  .Box {
    display: flex;
    justify-content: flex-end;
    background-color: black;
    //border-radius: 3%;

    &:hover .imageButton{
        opacity: 0.3;
        transition: all 0.5s ease-in-out;
    }

    &:hover .textButton {
        border: 2px solid $text-color-light;
        transition: all 0.1s ease-in-out;
    }
  }

  .firstLink {
    width: 100%;

  }

  .imageButton {
    height: 350px;
    width: 100%;
    object-fit: cover;
  }

  .textButton {
    padding: 1rem;
    position: absolute;
    text-decoration: none;
    color: $text-color-light;
    font-family: $logo-font;
    font-size: 50px;
    margin-top: 150px;
    margin-right: 1rem;
    border: 2px solid transparent;
    &:hover {
        background-color: transparentize($color: $text-color-dark, $amount: 0.7);
    }
  }

  .link {
    width: 49%;
    margin: 1.5rem 0;
  }

  @media (max-width: 1024px) {
    .link {
    width: 100%;
    }
  }
  @media (max-width: 768px) {
    .textButton {
    font-size: 30px;
    }
  }
}
