@import "../../../styles/settings.scss";

.root {
  margin-top: 80px;

  .leftImage {
    object-fit: cover;
    overflow: hidden;
    height: 615px;
    width: 100%;
    //border-bottom-left-radius: 5%;
    //border-top-left-radius: 5%;
    margin-right: 2px;
    padding-right: 5px;
    display: flex;
    justify-content: flex-end;
  }

  .divider {
    margin: 3rem;
    background-color: $base-color;
    border-radius: 50%;
    height: 2px;
  }

  .TextBox {

    position: relative;
    height: 615px;
    border-radius: 5%;
    .image {
      position: absolute;
      //border-bottom-right-radius: 5%;
      //border-top-right-radius: 5%;
      height: 100%;
      width: 100%;
      opacity: 1%;
      transition: all 0.6s ease-in-out;
      &:hover {
        opacity: 1;
        background-color: black;
        //transition: all 0.6s ease-in-out;
      }
    }
    &:hover .Maintext {
      color: $text-color-light;
      transition: all 0.6s ease-in-out;
    }
    //&:hover .Subtext {
      //color: $text-color-light;
      //transition: all 0.6s ease-out;
    //}

    .Maintext {
      font-family: $logo-font;
      font-weight: bolder;
      font-size: 44px;
      color: $base-color;
      margin-top: 230px;
      text-align: center;
      text-decoration: none;
      opacity: 1;

      //.flare {
        //font-size: 35px;
        //color: purple;
        //justify-content: center;
      //}
    }
    .Subtext {
      font-family: $logo-font;
      font-weight: normal;
      font-size: 35px;
      color: $text-color-dark;
      text-align: center;
    }
    .Ring {
      font-size: 45px;
      text-align: center;
    }
  }
  .Box {
    display: flex;
    justify-content: flex-end;
  }
  @media (max-width: 768px) {
    .TextBox {
      height: 400px;

      .Maintext {
        font-size: 30px;
      }
      .Subtext {
        font-size: 20px;
      }
    }

    .leftImage {
      object-fit: cover;
      overflow: hidden;
      height: 400px;
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }
}
