@import '../../../styles/settings.scss';

.root {
    background-color: $base-color;
    color: #ffff;
    padding: 10px;
    font-family: 'Dosis', sans-serif;
    clear: both;
    position: relative;
    height: 80px;
    margin-top: 100px;

    }

  .icon-box {
    word-spacing: 0.5rem;
    display: block;
  }


  a {
    text-decoration: none;
    color: var(--color-dark-cyan);
    display: inline-block;
    vertical-align: middle;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 2em;
    padding-right: 2em;
  }


 @media (max-width: 768px) {
   .root {
     font-size: 12px;
     margin-top: 10px;
     height: 68px;
   }

   .icon-box {
     word-spacing: 0.5rem;
     display: block;
   }

   a {
     padding: 0.5em;
   }

 }
